<div *ngIf="tasks.length">
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.title}}</td>
            <td>{{task.dueDate}}</td>
            <td>{{task.priority}}</td>
            <td>
                <a routerLink="/show/{{task._id}}">View</a> | 
                <a routerLink="/edit/{{task._id}}">Edit</a> | 
                <a href="" (click)="deleteTask(task._id)">Delete</a> 
            </td>
        </tr>
    </tbody>
</table>
</div>
<div *ngIf="!tasks.length">
<p>No tasks available</p>
</div>